@media only screen and (max-width: 768px) {
    .header_top {
        padding-top: 1px !important;
    }

    .footer .text-left,
    .footer .text-end {
        text-align: center !important;
    }
    .footer td{
        display: block;
    }
    .footer_logo{
        width: 50px !important;
    }
    table.icons.ms-auto{
        margin-top: 0 !important;
    }
    .icons .nav-link{
        font-size: 1vw !important;
    }
}

@media only screen and (max-width: 1450px) {
    .header_top {
        background-size: contain;
        min-height: auto;
    }

}