@media only screen and (max-width: 1200px) {
    .content_4 p {
        font-size: 2vw !important;
    }
}

@media only screen and (max-width: 768px) {

    .header_top {
        padding-top: 1px !important;
    }

    .footer .text-left,
    .footer .text-end {
        text-align: center !important;
    }

    .footer td {
        display: block;
    }

    .footer_logo {
        width: 50px !important;
    }

    table.icons.ms-auto {
        margin-top: 0 !important;
    }

    .icons .nav-link {
        font-size: 1vw !important;
    }

    .dy-img img {
        max-width: 50vw !important;
    }
}

@media only screen and (min-width: 768px) {
    input#coupon_code {
        width: auto;
    }

    .dy-img img {
        position: absolute !important;
        max-width: 15vw !important;
    }

    .panel {
        min-height: 34vw !important;
    }
}

@media only screen and (max-width: 1450px) {
    .header_top {
        background-size: contain;
        min-height: auto;
    }

}

@media screen and (min-device-width: 576px) and (max-device-width: 1400px) {

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        float: left !important;
        margin: 2% !important;
        padding: 0 !important;
        position: relative !important;
        width: 46% !important;
    }
}

@media only screen and (max-width: 576px) {

    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product {
        width: 100% !important;
        float: left !important;
        clear: both !important;
        margin: 0 0 2.992em !important;
    }

    .buy_banner .img_caption {
        margin-top: -7.5vw !important;
    }

    .icons .nav-link {
        margin-right: -2vw !important;
    }

    .content_4 .gold {
        font-size: 5vw !important;
    }

    .content_4 p {
        font-size: 3vw !important;
    }

    .dy-img,
    .dy-caption {
        text-align: center !important;
    }

    .caption span {
        font-size: 3vw !important;
    }

    .gold {
        text-shadow: none !important;
    }

    .header .gold {
        text-shadow: none !important;
        font-size: 5vw !important;
        line-height: 7vw !important;
    }
    .footer span{
        display: block !important;
        font-size: 2.5vw !important;
        margin: 1vw 0 !important;
    }
}